body {
  font-family: Open Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

select {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(20, 20, 31, .12);
  border-radius: 0.25rem;
  background-color: #fff;
  color: #212529;
  font-size: 0.875rem;
}